{% comment %} {% for related_product in related_products %}
    <h2>{{related_product.name}}</h2>
{% endfor %} {% endcomment %}


			<!-- .block-products-carousel -->
			{% comment %} <div class="block block-products-carousel" data-layout="grid-5">
				<div class="container">
					<div class="block-header">
						<h3 class="block-header__title">محصولات مرتبط</h3>
						<div class="block-header__divider"></div>
						<div class="block-header__arrows-list">
							<button class="block-header__arrow block-header__arrow--left" type="button">
								<svg width="7px" height="11px">
									<use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
								</svg>
							</button>
							<button class="block-header__arrow block-header__arrow--right" type="button">
								<svg width="7px" height="11px">
									<use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
								</svg>
							</button>
						</div>
					</div>
					<div class="block-products-carousel__slider">
						<div class="block-products-carousel__preloader"></div>
						<div class="owl-carousel">
							<div class="block-products-carousel__column">
								<div class="block-products-carousel__cell">
									<div class="product-card">
										<div class="product-card__badges-list">
											<div class="product-card__badge product-card__badge--new">جدید</div>
										</div>
										<div class="product-card__image">
											<a href="product.html">
												<img src="https://picsum.photos/700/700" alt="">
											</a>
										</div>
										<div class="product-card__info">
											<div class="product-card__name"><a href="product.html">اره برقی برندیکس مدل 300 وات</a></div>
										</div>
										<div class="product-card__actions">
											<div class="product-card__availability">موجودی: <span class="text-success">موجود در انبار</span></div>
											<div class="product-card__prices">749,000 تومان</div>
											<div class="product-card__buttons">
												<button class="btn btn-primary product-card__addtocart" type="button">
													افزودن به سبد
												</button>
												<button	class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"  type="button">
													<i class="fa fa-heart"></i>
													<span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
												</button>
												<button	class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"  type="button">
													<i class="fa fa-shopping-cart"></i>
													<span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="block-products-carousel__column">
								<div class="block-products-carousel__cell">
									<div class="product-card">
										<div class="product-card__badges-list">
											<div class="product-card__badge product-card__badge--new">جدید</div>
										</div>
										<div class="product-card__image">
											<a href="product.html">
												<img src="https://picsum.photos/700/700" alt="">
											</a>
										</div>
										<div class="product-card__info">
											<div class="product-card__name"><a href="product.html">اره برقی سشیسشیشیشس مدل 300 وات</a></div>
										</div>
										<div class="product-card__actions">
											<div class="product-card__availability">موجودی: <span class="text-success">موجود در انبار</span></div>
											<div class="product-card__prices">749,000 تومان</div>
											<div class="product-card__buttons">
												<button class="btn btn-primary product-card__addtocart" type="button">
													افزودن به سبد
												</button>
												<button	class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"  type="button">
													<i class="fa fa-heart"></i>
													<span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
												</button>
												<button	class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"  type="button">
													<i class="fa fa-shopping-cart"></i>
													<span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> {% endcomment %}
			<!-- .block-products-carousel / end -->
{% if related_products %}      
{% load static %} 

<div class="block block-products-carousel" data-layout="grid-5">
    <div class="container"> 
        {% comment %} {% include "partials/products/root_groups.html" with groups=product_groups %} {% endcomment %}
        {% include "partials/products/root_groups.html" with group='محصولات مرتبط '  %}

<div class="product-flexbox">
    {% for related_product in related_products %}
    {% include "partials/products/product_box.html" with type=3 %}
    {% endfor %}
</div>
    </div>
</div>
{% endif %}   