      
	  
					<div class="block-header">
						{% if group  == 'محصولات ویژه' %}
						<h3 class="block-header__title">محصولات ویژه</h3>

						{% elif group == 'محصولات جدید' %}
						<h3 class="block-header__title">محصولات جدید</h3>

						{% endif %}
						<div class="block-header__divider"></div>
						<ul class="block-header__groups-list">
                        <li>
								<button type="button"
								class="block-header__group block-header__group--active">همه</button>
						</li>
                        {% for product_group in product_groups %}
							<li>
								<button type="button" class="block-header__group"> {{product_group.name}}</button>
							</li>
                        {% endfor %}
						</ul>
						<div class="block-header__arrows-list">
							<button class="block-header__arrow block-header__arrow--left" type="button">
								<i class="fas fa-angle-right"></i>
							</button>
							<button class="block-header__arrow block-header__arrow--right" type="button">
								<i class="fas fa-angle-left"></i>
							</button>
						</div>
					</div>
